body {

}

#sub_menu_buttons {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#sub_menu_buttons > span {

    border: 1px solid black;
    text-align: center;
    padding: 1%;
    background-color: orange;
    color: white;
    font-family: "Noto Sans";

}

#informations_compte {
    position: relative;
    top: 20%;
    width: 70%;
    left: 15%;
    display: flex;
    flex-direction: row;
}

#details {
    width: 50%;
}

#details > div {
    margin-bottom: 1%;
}
#avatar {
    width: 30%;
}


#avatar img {
    border: 1px black solid;
    background-size: contain;
}


#graphiques {
    display: none;
}

#myGraph1 {

    width: 40%;
    height: 40%;
    margin-top: 15%;
    margin-left: 1%;
}

#myGraph2 {

    width: 40%;
    height: 40%;
    margin-top: 15%;
    margin-left: 1%;
}

#affichage_words {
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: none;
    width: 70%;
    height: 50%;
    top: 20%;
    left: 15%;
}


#score_words {

    line-height: 300%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#myChart {

}

#graphique_game_words {

    width: 50%;
    margin-left: 25%;

}
#graphique_revisions, #graphique_quizz {
    position: relative;
    width: 70%;
    height: 400px;
    top: 20%;
    left: 20%;

}

@media (max-width: 812px) {

    #informations_compte {
        display: block;
        top: 16%;
    }

    #score_words {
        width: 100%;
        text-align: center;
    }

    #avatar {
        width: 100%;
    }

    #details {
        width: 100%;
        margin-bottom: 4%;
        text-align: center;

    }

    #affichage_words {
        top: 17%;

    }
    #affichage_words {
        top: 20%;
        display: block;
    }
    #graphique_game_words {
        width: 100%;
        display: flex;
        margin-left: 0;
        justify-content: center;
    }
}
