@font-face {
    font-family: Open;
    src: url("../Ressources/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Courgette;
    src: url("../Ressources/Courgette-Regular.ttf");
}


body {
    width: 100%;
    height: 99vh;
}

#containerJeu {

    display: none;

}


#menuJeu  {

    position: relative;
    top: 150px;

}



#Question {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 250px;
    left: 400px;
    border: 2px solid orange;
    height: 50px;
    font-size: 35px;
    font-family: Courgette;
    padding: 1%;
}

#aleaphrase {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-around;
    left: 400px;
    top: 350px;
}

#aleaphrase > span {

    border: 2px solid orange;
    color: white;
    background-color: orange;
    padding: 2%;
    border-radius: 10px;
    font-family: Open;
    font-size: 50px;
    cursor: pointer;

}

#recupmots {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 50px;
    top: 450px;
    left: 15%;
    border-radius: 10px;
}



#Restart {

    display: none;

}


#boutons {


    display: flex;
    justify-content: space-around;
    position: relative;
    width: 300px;
    margin-top: 500px;
    margin-left: 40%;

}

#message {

    position: relative;
    font-size: 30px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: Open;
    left: 400px;
    top: 350px;
}

#commentaires {
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;

}
#affichage_commentaires {

    width: 50%;
    margin-top: 5%;
}

#Restart, #Retry, #NouvMot, #verifier {
    font-size: 20px;
    padding: 2%;
}

#verifier {
    display: flex;
    align-self: center;
}
#contain_buttons {

    height: 33%;

}

#resultats {
    position: relative;
    top: 200px;
    left: 10%;
    width: 80%;
    display: none;
}

#info_start2 {
    position: relative;
    left: 10%;
    width: 80%;

}

info_end2 {


}
#commenter {
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;
}
#contenu_com{
    width: 100%;
    height: 20vh;
}

#affichage_commentaires > img {
    width: 15%;
    height: 15%;
}