body {


}

.prez {
    font-weight: 300;
}

#dim {

    position: relative;
    top: 5%;
    width: 100%;
    height: 80%;
}

#container_questions {

    display: none;
    width: 100%;
   height: 100%;

}

#accueil_jeu {
    position: relative;
    top: 5%;
}

#start {
    cursor: pointer;
    color: white;
}

h1 {

    text-align: center;
    font-family: Federant, Georgia, sans-serif;
    color: black;
}


#reponse {
    position: relative;
    top: 20%;
    width: 100%;
    height: 50px;
    text-align: center;
}

#box_questions {

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    color: black;
}


#questions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25%;
    height: 50%;
    width: 43%;
    border: 3px black solid;


}

#placementJeu {

    position: relative;
    text-align: center;
    top: 15%;
    width: 100%;

}

#nextButton {
    margin-left: 5%;
    padding: 0.5%;
    background-color: lightblue;
    color: white;
    border-radius: 10px;
}

#note_serie {
    position: relative;
    left: 35%;
    width: 13vw;
    height: 13vw;
    border: 3px black solid;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}


#highScore {

    position: relative;
    top: 25%;
    left: 78%;
    border: 3px black solid;
    text-align: center;
    color: black;
    width: 13vw;
    height: 13vw;
}

#commenter {
    position: relative;
    top: 20%;
    width: 80%;
    left: 10%;
}

#contenu_com {
    height: 20vh;
}

#commentaires {
    position: relative;
    top: 30%;
    width: 80%;
    left: 10%;

}

#affichage_commentaires {

    width: 50%;
    margin-top: 5%;
}

#affichage_commentaires > img {
    width: 15%;
    height: 15%;
}

.tailleBouton {
    height: 35px;
}

#fin_serie {
    display: none;
}

#classement {

    display: flex;
    flex-direction: row;
}

#info_start {
    position: relative;
    left: 10%;
    width: 80%;

}

#info_end {
    position: relative;
    top: 170px;
    left: 10%;
    width: 80%;
}

#affichage_classement {

    display: none;
}

@media (max-width: 812px) {

    #dim {
        top: 0;
        display: flex;
        align-items: center;

    }

    #container_questions {
        height: 70%;
        top: 5%;

    }

    #box_questions {
        top: 0;
        display: flex;
        flex-wrap: wrap-reverse;
        height: 20%;
    }

    #note_serie {
        left: 5%;
        display: block;
        height: 50%;
        width: 90%;
        border-width: 1px;
    }

    #questions {
        left: 15%;
        min-width: 70%;
        height: 50%;
        border-width: 1px;
        top: 10%;
        font-size: 3vw;
    }

    #placementJeu {
        top: 5%;
    }


    #reponse {
        top: 8%;
    }

    #highScore {
        position: relative;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 10%;
        border-width: 1px;
    }


}