@font-face {
    font-family: Open;
    src: url("../Ressources/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Courgette;
    src: url("../Ressources/Courgette-Regular.ttf");
}


body {
    width: 100%;
    height: 99vh;
}

#containerJeu {

    display: none;
    height: 80%;

}


#menuJeu  {

    position: relative;
    top: 5%;

}



#Question {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 25%;
    border: 2px solid orange;
    font-size: 35px;
    font-family: Courgette;
    padding: 1%;
}

#aleaphrase {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 20%;
    width: 85%;
    left: 7.5%;
    display: flex;
    font-size: 40px;
    justify-content: center;

}

#aleaphrase > span {

    border: 2px solid orange;
    margin-right: 5%;
    color: white;
    background-color: orange;
    padding: 1.25%;
    border-radius: 10px;
    font-family: Open;
    cursor: pointer;

}

#recupmots {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    top: 37.5%;
    left: 5%;
    border-radius: 10px;
}

#recupmots div {

    margin-right: 5%;
    width: 50px;
    height: 60px;
}


#Restart {

    display: none;

}

#boutons {

    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    left: 15%;
    top: 45%;
}

#boutons button {

    margin-right: 5%;
}

#message {

    position: relative;
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: Open;
    left: 25%;
    top: 28%;
}

#commentaires {
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;

}
#affichage_commentaires {

    width: 50%;
    margin-top: 5%;
}

#Restart, #Retry, #NouvMot, #verifier {
    font-size: 16px;
    padding: 1%;
}

#verifier {
    display: flex;
    align-self: center;
}
#contain_buttons {

    height: 33%;

}

#resultats {
    position: relative;
    left: 10%;
    width: 80%;
    height: 80%;
    display: none;
}

#info_start2 {
    position: relative;
    left: 10%;
    width: 80%;

}

#info_end2 {
    position: relative;
    top: 15%;
}
#commenter {
    position: relative;
    top: 10%;
    width: 80%;
    left: 10%;
}
#contenu_com{
    width: 100%;
    height: 20vh;
}

#affichage_commentaires > img {
    width: 15%;
    height: 15%;
}


@media (max-width: 1388px) {

    #Question {
        top: 5%;
        font-size: 16px;
        width: 90%;
        left: 5%;
    }

    #aleaphrase {
        top: 15%;
        font-size: 35px;
    }

    #message {
        top: 23%;
        font-size: 16px;
        width: 90%;
        left: 5%;
    }


    #recupmots {
        top: 32.5%;
        margin-bottom: 5%;

    }

    #recupmots div {
        width: 50px!important;
        height: 50px!important;
    }

    #boutons {
        position: relative;
        top: 35%;
    }
}

@media (max-width: 812px) {

    #Question {
        font-size: 16px;
        width: 90%;
        left: 5%;
    }



    #message {
        font-size: 12px;
        width: 90%;
        left: 5%;
    }

    #aleaphrase {
        font-size: 35px;
    }
}