body {

    font-size: 1vw;
    font-family: lobster, sans-serif;
}

#container_questions {
    display: none;
}

#accueil_jeu {
    margin-top: 10%;
}

#start {
    cursor: pointer;
    color: white;
}

h1 {

    text-align: center;
    font-family: Federant, Georgia, sans-serif;
    color: black;
}


#reponse {

    position: relative;
    top: 65%;
    margin-left: 25%;
}

#questions {

    position: relative;
    top: 300px;
    margin-left: 38%;
    border: 3px black solid;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    color: black;
    font-family: lobster, sans-serif;
}

#placementJeu {

    position: relative;
    top: 40%;
    margin-left: 31%;
}

#nextButton {
    position: absolute;
    top: 78.5%;
    margin-left: 70%;
    padding: 1%;
    background-color: lightblue;
    color: white;
    border-radius: 10px;
}

#bonsPts {
    position: absolute;
    top: 40%;
    margin-left: 85%;
    width: 10%;
    height: 15%;
    border: 3px black solid;;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    color: black;
}


#highScore {

    position: absolute;
    top: 70%;
    margin-left: 85%;
    width: 10%;
    height: 15%;
    border: 3px black solid;;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    color: black;


}

#commenter {
    position: relative;
    top: 20%;
    width: 80%;
    left: 10%;
}
 #contenu_com {
     height: 20vh;
 }

#commentaires {
    position: relative;
    top: 30%;
    width: 80%;
    left: 10%;

}
#affichage_commentaires {

    width: 50%;
    margin-top: 5%;
}
  #affichage_commentaires > img {
      width: 15%;
      height: 15%;
  }

.tailleBouton {
    height: 35px;
}

#fin_serie {
    display: none;
}

#classement {

    display: flex;
    flex-direction: row;
}

#info_start {
    position: relative;
    left: 10%;
    width: 80%;

}

#info_end {
    position: relative;
    top: 170px;
    left: 10%;
    width: 80%;
}