#sub_menu_buttons {

    position: relative;
    top: 15%;
    left: 15%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#sub_menu_buttons > span {

    border: 1px solid black;
    text-align: center;
    padding: 1%;
    background-color: orange;
    color: white;
    font-family: "Noto Sans";

}

#informations_compte {
    position: relative;
    top: 20%;
    left: 15%;
}

img {
    border: 1px black solid;
    width: 20%;
    height: 15%;
    background-size: contain;

}


#graphiques {
    display: none;
}

#myGraph1 {

    width: 40%;
    height: 40%;
    margin-top: 15%;
    margin-left: 1%;
}

#myGraph2 {

    width: 40%;
    height: 40%;
    margin-top: 15%;
    margin-left: 1%;
}

#affichage_words {
    display: inline-block;
    position: relative;
    display: none;
    width: 70%;
    height: 50%;
    top: 25%;
    left: 15%;
}

#graphique_game_words {

    width: 40%;
    height: 40%;
}

#score_words {
    float: right;
    line-height: 50px;
}

#graphique_revisions, #graphique_quizz {
    position: relative;
    max-width: 60%;
    height: 400px;

    top: 20%;
    left: 20%;

}