<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votre site de révisions</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<style>
    html, body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        text-align: center;
        line-height: 25px;
    }

   #confirmation {

       border: 2px solid black;
       padding: 2%;
   }

</style>
<body>

<div id = 'confirmation'>
    <div>Vous êtes bien inscrit.</div>&nbsp;
    <div>Vous pouvez vous connecter avec votre pseudo et votre mot de passe.</div>
    <a href="index.php?"> Retour a l'accueil </a>
</div>


</body>
</html>