<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Css/stylePhrases.css">
    <link rel="stylesheet" type="text/css" href="Css/stylr.css">
    <script src="lib/jquery.js"></script>
</head>
<body>

<div id="boutonListe">+</div>

<aside class="menuderoulant">
    <div id="menu">
        <a href="index.php?page=redirect" id="bloc1">
            <div>Accueil</div>
        </a>
        <a href="index.php?page=training" id="bloc2">
            <div>Entrainement au vocabulaire Italien</div>
        </a>
        <a href="index.php?page=jeu" id="bloc3">
            <div>Jeu phrases Italien</div>
        </a>
        <a href="index.php?page=membres" id="bloc4">
            <div>Espace membres</div>
        </a>
    </div>
</aside>


<div id="titre">

    <h1>Find the code</h1>

</div>

<div id="menuJeu">

    <h1>Bienvenue sur la page de jeu Find the Code !</h1>

    <p>Le but du jeu est simple : des exemples de mots-clefs vont seront demandés en français, et vous devrez les
        restituer en anglais, et respectant l'ordre des lettres.</p>
    <p>Vous pouvez faire un choix dans plusieures matières, comme le html, le css, le javascript ou encore le php.</p>
    <p>Bon jeu !</p>

    <div id="jeuHtml">HTML</div>
    <div id="jeuCss">CSS</div>
    <div id="jeuJs">Javascript</div>
    <div id="jeuPhp">PHP</div>

</div>


<div id="containerJeu">

    <div id="Question"></div>

    <div id="aleaphrase"></div>
    <div id="message"></div>

    <div id="recupmots">
        <button id="verifier">Vérifiez</button>
    </div>

    <div id="boutons">
        <button id="Raz">Ré-essayer</button>
        <button id="Rec">Recommencer</button>
        <button id="NouvMot">Suivant</button>
    </div>
</div>

<div id='resultats'>



</div>

<script src="Js/java.js"></script>
<script src="Js/java_phrases.js"></script>
</body>
</html>