<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votre site de révisions</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<style>
    html, body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 20%;
        border: 2px solid black;
    }
</style>
<body>

<div>
    <p>Vous êtes bien déconnecté</p>&nbsp;
    <a href="index.php?"> Retour a l'accueil </a>
</div>


</body>
</html>